<h1>選考進捗状況追加</h1>

<%= render 'form', progress: @progress %>
<% if @progress.user_id.blank? %>
<%= link_to 'ユーザー一覧に戻る', users_path %>
<% else %>
<%= link_to 'ユーザー詳細に戻る', user_path(@progress.user_id) %>
<% end %>
