<h1>New Progress</h1>

<%= render 'form', progress: @progress %>
<% if @progress.user_id.blank? %>
<%= link_to 'Back', users_path %>
<% else %>
<%= link_to 'Back', user_path(@progress.user_id) %>
<% end %>
