<script>

  function change_graph() {
    var bus_cat = document.getElementById("business").value
    var job_cat = document.getElementById("occupation").value

    if (bus_cat == "-1") {
      alert("業種を選択してください")
    }
    else if(job_cat == "-1") {
      alert("業種を選択してください")
    }
    else {
      document.location.href = "?bus=" + bus_cat + "&job=" + job_cat;
    }
  }
</script>

<h1>statistics</h1>
<div class="container">
<div class="graph_outer center_box">
<div class="raw top_menu">
<%= link_to 'ユーザー一覧に戻る', users_path, :class=>'btn btn-primary btn-xs' %>
</div>
<div class="form-inline">
  <select id="business" class="form-control">
    <option value="-1" selected>--業種を選択--</option>
    <option value="0">IT企業</option>
  </select>
  <select id="occupation" class="form-control">
    <option value="-1" selected>--職種を選択--</option>
    <option value="0">エンジニア</option>
    <option value="1">総合職</option>
  </select>
  <button type="submit" onClick="change_graph()" class="btn btn-success">絞り込む</button>
</div>
<div class="graph_box center_box">
<h2>選考中の就活生数</h2>
<%= area_chart @chart_data0 %>
<h2>内定済の就活生数</h2>
<%= area_chart @chart_data1 ,colors: ["pink", "#999"] %>
<h2>選考不合格の就活生数</h2>
<%= area_chart @chart_data2 ,colors: ["black", "#000"] %>
</div></div></div>
