<h1>Editing User</h1>

<%= render partial: 'form' %>

<%= link_to 'Users Index', users_path, :class=>'btn btn-warning' %>
<%= link_to 'User', user_path, :class=>'btn btn-info' %>
<%= link_to '統計ページ', graphs_path, :class=>'btn btn-primary' %>
